body {
  font-family: "Roboto", sans-serif;
  color: var(--headers-color);
}

:root {
  --logo-color: #212121;
  --logo-sec-color: #2196f3;
  --contact-color: #757575;
  --text-color: #ffffff;
  --paragraph-color: #757575;
  --headers-color: #212121;
  --background-color: #e5e5e5;
  --background-nav-color: #ffffff;
  --background-section-color: #2f303a;
  --background-photos-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-head {
  border-bottom: 1px solid #ececec;
}

.container-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.flex-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-list {
  list-style: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 94px;
}

.control-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--logo-color);
  display: flex;
  align-items: center;
  margin-right: 46px;
}

.control-item:hover,
.control-item:focus {
  color: var(--logo-sec-color);
}

.logo-front {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-sec-color);
  font-weight: 700;
}
.logo-back {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  border: radius 4px;
  color: var(--logo-color);
  font-weight: 700;
}

.container-contact {
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 371px;
  align-items: center;
}

.contact-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--contact-color);
  text-emphasis: none;
  text-decoration: none;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--logo-sec-color);
}

.first-section {
  background-color: var(--background-section-color);
  padding-left: 252px;
  padding-right: 252px;
}

.header-primary {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  align-items: center;
  padding-top: 200px;
  padding-bottom: 30px;
}

.button {
  background-color: var(--logo-sec-color);
  border: none;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button-name {
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
}

.button-section {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.paragraphs-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-top: 94px;
}

.header-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--headers-color);
  padding-bottom: 10px;
}
.paragraph-items {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  display: block;
  color: var(--paragraph-color);
}

.images-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: 409px;
  margin-right: 409px;
  margin-bottom: 50px;
}
.images-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.team {
  background-color: var(--background-photos-color);
}


.team.list{
  list-style-type: none;


}

.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 46px;
}

.team-member{
background: var(--text-color);
}


.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headers-color);
  padding-top: 30px;

}
.team-job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.contact-end {
  background-color: var(--background-section-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.logo-back-sec {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  border: radius 4px;
  font-weight: 700;
}

.button-list {
  list-style-type: none;
  display: inline-flex;
}

.button-items {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--headers-color);
  background-color: var(--background-photos-color);
  border: none;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.button-items:hover,
.button-items:focus {
  background-color: var(--logo-sec-color);
  color: var(--text-color);
}
.industry-list {
  list-style-type: none;
}

.industry-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-color);
}

.industry-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--contact-color);
}

.footer-address {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  display: block;
  color: var(--contact-color);
  text-decoration: none;
}
.address-item:hover,
.address-item:focus {
  color: var(--logo-sec-color);
}
